body {
  margin: 0;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

#hero-section {
  height: 703px;
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0)),
    url(imgs/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: rgba(255, 255, 255, 0.637);
  text-shadow: -2px -2px 0px rgb(255 255 255);
  font-size: xx-large;
}

#hero-section h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#hero-section h2 {
  margin-bottom: 0px;
}

#middle-section {
  text-shadow: 4px 6px 12px white;
  color: white;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 95%);
}

#places {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px auto;
  width: 100%;
}

#middle-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 9px solid white;
}

.flex-place-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#places p {
  width: 250px;
  overflow-wrap: break-word;
  text-align: center;
  padding: 4px;
  margin: 0;
}

#card {
  margin: 0 auto;
  border-radius: 14px;
  width: 493px;
  height: 466px;
  background-color: rgb(41 109 188 / 0%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#card img {
  width: 215px;
  height: 314px;
}

#card-txt p {
  width: 200px;
}

#card-txt #note {
  font-style: italic;
  font-weight: 600;
}
